.root {
    text-align: center;
    position: relative;
    transition: 0.3s all ease-in-out;

    .item {
        display: inline-block;
        cursor: default;
        .imgBox {
            border-radius: 50%;
            img {
                transition: 0.3s all ease-in-out;
                border-radius: 50%;
                &:hover {
                    border-radius: 50% 50% 50% 50% / 21% 21% 79% 79%;
                }
            }
        }
        .name {
            font-size: 1.2rem;
        }
    }
    .commentBox {
        display: block;
        margin: 1rem auto 0;
        max-width: 225px; // ./StaffList.module.scssのflexの値と対応させる
        p {
            text-align: left;
            overflow-wrap: break-word;
            word-wrap: break-word;
            > span {
                text-decoration: underline;
            }
        }
    }
    .tooltip {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.001s transform;
        z-index: 2;
        width: 20%;
        background-color: rgba(120, 120, 120, 0.8);
        padding: 40px;
        border-radius: 10%;
        text-align: left;
        overflow-wrap: break-word;
    }
    @media screen and (min-width: 769px) {
        .item {
            &:hover {
                ~ .tooltip {
                    display: block;
                }
            }
        }
        .commentBox {
            display: none;
        }
    }
}
