.root {
    position: relative;
    .box {
        position: relative;
        width: 90%;
        border-bottom: solid 1px;
        &:nth-of-type(1) {
            border-top: solid 1px;
        }
        .block {
            &:hover {
                cursor: pointer;
                &::before {
                    width: 100%;
                }
                &::after {
                    width: 100%;
                }
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 50%;
                width: 0;
                background: rgba(240, 240, 240, 0.4);
                z-index: -1;
                transition: all 0.5s ease-in-out;
            }
            &::after {
                top: 50%;
                bottom: 0;
                right: 0;
            }
        }
    }
}
