.root {
    position: fixed;
    bottom: 5%;
    width: 100%;
    z-index: 100;
    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 5%;
        .button {
            display: block;
            float: right;
            color: #fff;
            background: grey;
            text-decoration: none;
            border-radius: 8rem;
            width: 8rem;
            height: 8rem;
            line-height: 3rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
    @media screen and (min-width: 769px) {
        bottom: 10%;
        .container {
            padding: 0;
        }
    }
}
